<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>e-Ledger</title>
<!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- Favicon icon -->
<link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
<!-- fontawesome icon -->
<link rel="stylesheet"
	th:href="@{/fonts/fontawesome/css/fontawesome-all.min.css}">
<!-- animation css -->
<link rel="stylesheet"
	th:href="@{/plugins/animation/css/animate.min.css}">

<link rel="stylesheet" th:href="@{/plugins/chart-morris/css/morris.css}">
<!-- vendor css -->
<link rel="stylesheet" th:href="@{/css/style.css}">
<link th:href="@{/two_i/img/logo.png}">

<!-- fullcalendar -->
<link th:href='@{/fullcalendar/css/fullcalendar_bootstrap.css}'
	rel='stylesheet' />
<link th:href='@{/fullcalendar/css/fullcalendar_core.css}'
	rel='stylesheet' />
<link th:href='@{/fullcalendar/css/fullcalendar_daygrid.css}'
	rel='stylesheet' />
<link th:href='@{/fullcalendar/css/fullcalendar_list.css}'
	rel='stylesheet' />
<link th:href='@{/fullcalendar/css/fullcalendar_timegrid.css}'
	rel='stylesheet' />

</head>
<body>
	<th:block th:replace="fragments/header :: header" />
	<th:block layout:fragment="content" />

	<script th:src="@{/js/vendor-all.min.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
	<script th:src="@{/js/pages/google-maps.js}"></script>
	<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/pcoded.min.js}"></script>


	<script th:src="@{/plugins/chart-morris/js/raphael.min.js}"></script>
	<script th:src="@{/plugins/chart-morris/js/morris.min.js}"></script>
	<script th:src="@{/js/pages/chart-morris-custom.js}"></script>
	<script th:src="@{/plugins/google-maps/js/gmaps.js}"></script>
	<script th:src="@{/js/pages/google-maps.js}"></script>

	<script th:src='@{/fullcalendar/js/fullcalendar.io.js}'></script>
	<script th:src='@{/fullcalendar/js/fullcalendar_core.js}'></script>
	<script th:src='@{/fullcalendar/js/fullcalendar_daygrid.js}'></script>
	<script th:src='@{/fullcalendar/js/fullcalendar_list.js}'></script>
	<script th:src='@{/fullcalendar/js/fullcalendar_timegrid.js}'></script>
	<script th:src='@{/fullcalendar/js/main.min.js}'></script>

	<script>
		document.addEventListener('DOMContentLoaded', function() {

			var calendarEl = document.getElementById('calendar');

			var calendar = new FullCalendar.Calendar(calendarEl, {
				plugins : [ 'dayGrid', 'timeGrid', 'list', 'bootstrap' ],
				timeZone : 'UTC',
				themeSystem : 'bootstrap',
				header : {
					left : 'prev,next today',
					center : 'title',
					right : 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
				},
				weekNumbers : true,
				eventLimit : true,
				events : [ {
					title : 'my event',
					start : '2020-05-15'
				}, {
					title : 'my event 3',
					start : '2020-05-17'
				} ]
			});
			calendar.render();
		});
	</script>

	<script
		src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
</body>
<th:block th:replace="fragments/footer :: footer" />
</html>